<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <small><b>INCLUSÃO DE NOVO SINDICATO</b></small>
  </h1>
  <ol class="breadcrumb">
    <button class="btn btn-xs"><li><a href="/admin"><i class="fa fa-home"></i> Início</a></li></button>
    <button class="btn btn-xs"><li><a href="/admin/sindicatos">Sindicatos</a></li></button>
    <button class="btn btn-xs"><li class="active"><a href="#">Novo Sindicato</a></li></button>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
         <div class="col-md-12"> 
          <center><h3 class="box-title text-primary" style="vertical-align: middle;"><b>NOVO SINDICATO</b></h3> <a href="javascript:history.back();"><button type="button" class="btn btn-link navbar-right"><b>Voltar</b></button></a></center>
          <!--<a href="javascript:history.back()" style="margin-left: 60px;"><button type="button" class="btn btn-link navbar-right"><b>Voltar</b></button></a>-->
         </div> 
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/sindicatos-create" method="post" id="formSindicato">
          <div class="box-body">
          
            <div class="form-group">
              <label for="campoNomeSindicato">Nome do sindicato: <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="campoNomeSindicato" name="nomeSindicato" placeholder="Ex: SINDTESTE" autofocus="" required="" maxlength="25" onkeyup="toUpperSind();" onblur="confirmUpper();">
            </div>

             <label for="campoDescSind">Descrição (Opcional):</label>
            <textarea class="form-control" id="campoDescSind" name="descricaoSindicato" cols="20" rows="5" maxlength="400"></textarea>
            
            <hr>
            <h4 class="text-center text-muted"><b>INFORMAÇÕES DE CONTATO</b></h4>
            <hr>
            
            <div class="form-group">
              <label for="nomeExecutivo">Nome do executivo:</label>
              <input type="text" class="form-control" id="campoNomeExecutivo" name="nomeExecutivo" placeholder="Nome completo"  maxlength="30">
            </div>

              
          <div class="form-group">
              <label for="campoEmailExecutivo">E-mail do executivo:</label></label>
                <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-at"></i>
                    </div> 
                  <input type="email" class="form-control" id="campoEmailExecutivo" name="emailExecutivo" placeholder="email@exemplo.com">
               </div>  
        </div>




                <div class="form-group">
                <label for="campoTel">Telefone do executivo:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input type="tel" id="campoTel" class="form-control" placeholder="(DDD) 7777-8888" onkeyup="validaCelular2(this);" name="telefone" maxlength="15">
                </div>
                <!-- /.input group -->
              </div>

          
           

   
           

        

            


      



<!--
            <div class="checkbox">
              <label>
                <input type="checkbox" name="inadmin" value="1"> Acesso de Administrador
              </label>
            </div>
          </div>
-->

          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary "><b>CADASTRAR</b></button>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
