<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">



  <h1>  <!--<b>CICLOS</b>-->
    <small><b>SOBRE</b></small>
  </h1>

 
  
  <ol class="breadcrumb">
    <button class="btn btn-xs"><li><a href="/user"><i class="fa fa-home"></i> Início</a></li></button>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">

    <div class="box box-primary">  
     <div class="box-header with-border">

      <div class="col-md-12">

       <center>
        <h3 class="box-title" style="vertical-align: middle;"><b>SOBRE</b></h3>
        <a href="javascript:history.back();"><button style="margin-left: 40px;" class="btn btn-link navbar-right"><b>Voltar</b></button></a>
       </center>


      </div>
         

</div>
  
<div class="box-body">

  <div class="col-md-3"></div>
           
  <div class="col-md-6">
    

    <table class="table" style="margin-left: -7%;">
      <thead>
        <tr>
          <th colspan="3" class="text-center" style="color:#015091"> SISTEMA DE GESTÃO ARTICULADA&trade;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3" class="text-center"><b>Desenvolvido por:</b></td>
        </tr>
        <tr>
            <td class="text-success">Leanderson Jesus</td>
            <td>Desenvolvedor</td>
            <td>leotecinfo21@gmail.com</td>
          </tr>
          <tr>
            <td class="text-success">Rafael Lemos</td>
            <td>Desenvolvedor</td>
            <td>rafadev25@gmail.com</td>
          </tr>
          <tr>
            <td class="text-success">Pedro Carvalho</td>
            <td>Desenvolvedor</td>
            <td>pedrosophbc@gmail.com</td>
          </tr>

          <tr>
            <td colspan="3" class="text-center"><b>Versão:</b></td>
          </tr>
          <tr>
            <td colspan="3" class="text-center">1.0.1</td>
          </tr>

          <tr>
            <td colspan="3" class="text-center"><b>Código Fonte:</b></td>
          </tr>
          <tr>
            <td colspan="3" class="text-center"><a href="https://github.com/PedroECB/projetofieb" target="_blank">https://github.com/PedroECB/projetofieb</a></td>
          </tr>
      </tbody>
    </table>



  </div>

  <div class="col-md-3"></div>
</div>       

</div>


















            <!-- /.box-body -->
          
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
