<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        
        <small><b>PÁGINA INICIAL DO PONTO FOCAL</b></small>
      </h1>
      <ol class="breadcrumb">
        <button class="btn btn-default btn-xs disabled"><li><a href="/user"><i class="fa fa-bug"></i> Reportar Erro</a></li></button>
       <!-- <li class="active">Here</li>-->
      </ol>
    </section>

     <!-- Main content -->
    <section class="content">


<center>
     <img src="../../res/admin/dist/img/nomeCompletoAzul01.png" class="img-responsive logoMain" alt="Logo menu principal">
</center>


<center>
     <img src="../../res/admin/dist/img/fiebtransp02.png" class="img-responsive logoMain2" alt="">
   </center>





    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
