
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <small>CADASTRO DE EMPRESA PARA VISITAS</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/user"><i class="fa fa-home"></i> Início</a></li>
    <li><a href="/user/visitas">Visitas</a></li>
    
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">

        <div class="col-md-12">  
          <center>
            <h3 class="box-title" style="vertical-align: middle;"><b>DETALHES DA VISITA</b></h3>
            <a href="javascript:history.back();"><button class="btn btn-link navbar-right"><b>Voltar</b></button></a>
          </center>
        </div>

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        
          <div class="box-body">





            <div class="box-body"> 

                  <center>
                    <table class="table table-responsive table-hover table-info-empresa" style="">
                    <thead>
                      <tr>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td><b>RESPONSÁVEL PELO CADASTRO DA VISITA</b></td>          <td>{$visita.nome_func}</td><td class="text-primary info-some"><b>{$visita.origem}</b></td></tr>
                      <tr><td><b>CADASTRADA EM</b></td>                     <td>{function="date('d/m/Y',strtotime($visita.data_de_agendamento))"}</td></tr>
                      <tr><td><b>DATA PREVISTA</b></td>                     <td>27/08/2018</td></tr>
                      <tr><td><b>SITUACÃO DA VISITA</b></td>             <td class="text-success" style="text-transform: uppercase;"><b>{$visita.status_visita}</b></td></tr>
                      <tr><td><b>FAMÍLIA DO PRODUTO OFERTADO</b></td>            <td>{$visita.familia_prod}</td></tr>
                      <tr><td><b>DEMANDA INICIAL</b></td>   <td> {$visita.demanda_inicial}</td></tr>
                       <tr><td></td><td><td></tr>
                      <tr><td><b>AGENTE DE MERCADO QUE ATENDEU</b></td>         <td>{if="isset($visita.agente_atend)"}{$visita.agente_atend}{/if}</td></tr>
                      <tr><td><b>DATA DE REALIZAÇÃO</b></td>                    <td>{if="isset($visita.data_realizacao)"}{function="date('d/m/Y',strtotime($visita.data_realizacao))"}{/if}</td></tr>
                      <tr><td><b>DEMANDA IDENTIFICADA NA VISITA</b></td>        <td>{if="isset($visita.demanda_ident)"}{$visita.demanda_ident}{/if}</td></tr>
                      <tr><td><b>SITUACÃO DA NEGOCIAÇÃO </b></td>         <td>{if="isset($visita.status_negociacao)"}{$visita.status_negociacao}{/if}</td></tr>
                      <tr><td><b>PREÇO DO PRODUTO OFERTADO </b></td>         <td>{if="isset($visita.preco_prod)"}{function="number_format($visita.preco_prod,2)"}{/if}</td></tr>
                      <tr><td><b>ASSOCIACAO </b></td>         <td>{if="isset($visita.status_associacao)"}{$visita.status_associacao}{/if}</td></tr>
                      <tr><td><b>OBSERVAÇÃO</b></td>              <td> {$visita.observacao}</td></tr>
                      <tr><td></td><td><td></tr>
                      <tr><td></td><td><b class="text-black">EMPRESA</b></td><td></td></tr>
                      <tr><td></td><td><td></tr>
                      <tr><td><b>CNPJ</b></td>                     <td> {$visita.cnpj}</td></tr>
                      <tr><td><b>RAZÃO SOCIAL</b></td>             <td> {$visita.razao_social}</td></tr>
                      <tr><td><b>NOME FANTASIA</b></td>            <td> {$visita.nome_fantasia}</td></tr>
                      <tr><td><b>SITUACÃO DA ASSOCIAÇÃO</b></td>   <td> {$visita.situacao_associacao}</td></tr>
                    <!--  <tr><td><b>ASSOCIADA À</b></td>              <td> </td></tr> -->
                      <tr><td><b>CIDADE/MUNICÍPIO</b></td>         <td> {$visita.municipio}</td></tr>
                      <tr><td><b>REGIÃO DO ESTADO</b></td>         <td> {$visita.regiao_estado}</td></tr>
                      <tr><td><b>BAIRRO</b></td>                   <td>{$visita.bairro}</td></tr>
                      <tr><td><b>ENDEREÇO</b></td>                 <td> {$visita.endereco}</td></tr>
                      <tr><td><b>E-MAIL DE CONTATO</b></td>        <td>{$visita.email}</td></tr>
                      <tr><td><b>TELEFONE DE CONTATO</b></td>      <td>{$visita.telefone}</td></tr>
                      <tr><td><b>TELEFONE ALTERNATIVO</b></td>                  <td> {$visita.telefone2}</td></tr>


                    </tbody>
                  </table>
                </center>


            </div>

        

            

       





          <!-- /.box-body -->
          <div class="box-footer">
           <div class="col-md-12"> 
          
          {if="$visita.origem == $origem.origem"}
            <a href="/user/edit-visita/{$visita.idVisita}"><button type="button" class="btn btn-primary btn-sm" style="margin-top: 5px;"><b><i class="fa fa-pencil-square"></i>&nbsp ALTERAR DADOS DA VISITA</b></button></a>  
            {if="!isset($visita.agente_atend)"}
            <a href="/user/finalize-visita/{$visita.idVisita}"><button type="button" class="btn btn-danger btn-sm" style="margin-top: 5px;"><b><i class="fa  fa-check-square"></i>&nbsp FINALIZAR VISITA</b></button></a>
            {/if}
          {/if}
            <a href="javascript:history.back();"><button type="button" class="btn btn-default btn-sm navbar-right" style="margin-top: 5px;"><b>&nbsp VOLTAR</b></button></a>
    


          </div>
          </div>
        
      </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->




